/* CSS styles */
.container {
  display: flex;
  flex-wrap: wrap;
}

.container{
    -webkit-box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.26);
    box-shadow: 5px 2px 5px 1px rgba(0, 0, 0, 0.26);
}

.column {
  flex: 1 1 40%;
}

/* Additional styles for demonstration purposes */
.column:nth-child(odd) {
  /*background-color: #f2f2f2;*/
}

/* Optional: Adjust these styles to your liking */
body {
  margin: 30px;
  font-family: Arial, sans-serif;
}

.column h2 {
  margin-top: 20px;
}

/* SVG styles */
svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-group {
  position: relative;
  width: 50%;
  margin-bottom: 30px
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 7px;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  position: relative;
  line-height: 4ex;
}

.form-group label {
  position: absolute;
  top: -6.5px;
  left: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #666;
  background-color: white;
  z-index: 1;

}

.password-recovery {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin-top: -10px;
}

.password-recovery a {
  text-decoration: none;
  color: #1C1C1E;
}

input[type="submit"] {
  width: 100%; /* Set the button width to 70% */
  height: 40px; /* Set the button height */
  background-color: #007AFF;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.additional-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.additional-row div {
  padding: 10px;
  border-radius: 0.75rem;
}
.separator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 20px 0;
  position: relative;
}

.separator {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 10px;
}

.separator-text {
  color: #999;

}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 22px;
  border-radius: 20px;
  background-color: #007AFF;
  color: #fff;
  text-decoration: none;
}

.form-button.blue {
 background-color: #007AFF;
  color: white;
  border: none;
}

div.form-group a.form-button {
  width: 94%;
}


a.form-button.lg {
  width: 60%;
}



